/*-- scss:defaults --*/
$font-size-base:          0.9rem !default;
//$h4-font-size:          1.1rem !default;
$navbar-bg: white;
$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.1 !default;
$h5-font-size:                $font-size-base * 1.1 !default;
$h6-font-size:                $font-size-base !default;

@font-face {
    font-family: "Passata";
    src: url("au_fonts/AUPassata_Rg.ttf");
  }
@font-face {
  font-family: "Peto";
  src: url("au_fonts/AU_Peto.ttf");
}  

// #title-block-header .title {
//   font-family: "Peto";
//   font-size: 4.0rem; /* adjust as needed */
// }






// * {
  //   font-family: Passata;
  // }
  
// .btn-default,
// .btn-default:hover,
// .btn-default:active {
//   font-size: 13px;
//   margin: 0px 0px 20px 0px;
//   color: black;
//   background-color: #eeeeee;
//   border-color: transparent;
// }

// .btn-default:hover {
//   color: grey;
//   transition: 0.2s;
// }


/*-- scss:rules --*/
